# This notebook showcases how to establish a srverless transactional database engine using sqlite

## The first thing we need to do is to import sqlite3 into our notebook in some environment we might  we have to install sqlite3

In [3]:
#!pip install sqlite3  ##we can uncomment this line if we need to install sqlite
import sqlite3

## So after importing we can get started 
+ First we create a database and setup a connection to it.
+ We can use sqlite3.connect('example.db') to set up the engine.
+ We can also then assign an object name to our engine like here in example we have used conn as the object name, in some situation it can be very handy.

In [5]:
conn = sqlite3.connect('Music.db')

## Cursor
+ It is a control structure that helps us to interact with the database engine.
+ in our database we can use cursor to trverse to different places in the database and perform tasks.
+ we can assign the cursor to an object too like here for example we have beat = conn.cursor().

In [7]:
beat = conn.cursor()

## Now we can use the object that we created as cursor
+ For example we will try to drop a table from our database
+ Alongside with cursor we have to use execute to actually perform the task

In [9]:
beat.execute("drop table if exists songs")

## Creating a table
+ We can use strings to create a table
+ since the table can be a multiline strings we use triple(") to encose the string
+ We can also assign the table to an object name

In [11]:
list = """create table if not exists Songs(id integer primary key not null, 
Song varchar(99), Album varchar(99), Artist varchar(99), Release date);"""

## Turning strings into sql queries
+ As now we have a sql query as a string named list it can be excuted
+ with the help of cursor i.e. beat and execute we can turn that string into an actual sql query and run it in the database

In [13]:
beat.execute(list)
print("list is ready")

list is ready

## Querying the database and table
+ Here we a example of insert statement as a string to be executed as sql query
+ We can also do it like assigning the string to an object and then executing the object but adds redundant code

In [15]:
beat.execute('''insert into Songs values(1, "Help Yourself","Frank", "Amy Winehouse", "2003"),
(2, "I Heard It Through Grapevine", "Cosmo's Factory", " Creedence Clearwater Revival", "1970"),
(3, "Swimming Pools (Drank)", "Good Kid, M.A.A.D City", "Kendrick Lamar", "2012"),
(4, "The Boy with the Thorn in His Side", "The Queen Is Dead", "The Smiths", "1986"),
(5, "Runnin' with the Devil","Van Halen", "Van Halen", "1978") ''')

## Select statement
+ We can select the data by making the cursor executing the select statement and fetching the data we
+ but it would print our data like it does in sql environment

In [17]:
beat.execute('select * from Songs;')

## Printing the data
+ When the cursor have the data we can use a for loop to print the data
+ We can assign the value of the cursor too to then run the loop in the object
+ Here we have an example where for loop runs for every row in the cursor value
+ fetchall() is use for frtching all of the values present at the cursor value

In [19]:
for rows in beat.fetchall():
 print(rows)

(1, 'Help Yourself', 'Frank', 'Amy Winehouse', 2003)
(2, 'I Heard It Through Grapevine', "Cosmo's Factory", ' Creedence Clearwater Revival', 1970)
(3, 'Swimming Pools (Drank)', 'Good Kid, M.A.A.D City', 'Kendrick Lamar', 2012)
(4, 'The Boy with the Thorn in His Side', 'The Queen Is Dead', 'The Smiths', 1986)
(5, "Runnin' with the Devil", 'Van Halen', 'Van Halen', 1978)

## Selecting few values from the table
+ Here we have selected the 3 values from the table

In [21]:
beat.execute('select Album from Songs;')
for rows in beat.fetchmany(3):
 print(rows)

('Frank',)
("Cosmo's Factory",)
('Good Kid, M.A.A.D City',)

## Update statement

In [23]:
beat.execute('update Songs set Song = "Swimming Pools(Drank)" where Song = "Swimming Pools (Drank)"')

## Select statement forn one column with limit and offset

In [25]:
beat.execute('select Album from Songs limit 2 offset 3;')
for rows in beat.fetchall():
 print(rows)

('The Queen Is Dead',)
('Van Halen',)

## Integrating sqlite and pandas
+ First we import pandas if we have not donne it yet

In [27]:
import pandas as pd

## Creating a dataframe 
+ We can use pd.read_sql_query to convert our table into dataframe
+ We can store the data into an object then we can perform all the pandas function into it.

In [29]:
df = pd.read_sql_query('select * from Songs;', conn)
df

,id,Song,Album,Artist,Release
0,1,Help Yourself,Frank,Amy Winehouse,2003
1,2,I Heard It Through Grapevine,Cosmo's Factory,Creedence Clearwater Revival,1970
2,3,Swimming Pools(Drank),"Good Kid, M.A.A.D City",Kendrick Lamar,2012
3,4,The Boy with the Thorn in His Side,The Queen Is Dead,The Smiths,1986
4,5,Runnin' with the Devil,Van Halen,Van Halen,1978

## Selecting a column with pandas

In [31]:
df.Album

0                     Frank
1           Cosmo's Factory
2    Good Kid, M.A.A.D City
3         The Queen Is Dead
4                 Van Halen
Name: Album, dtype: object

## Selecting with help of index in pandas to a certain point

In [33]:
df.Album[0:2]

0              Frank
1    Cosmo's Factory
Name: Album, dtype: object

## The structure of the dataframe

In [35]:
df.shape

(5, 5)

## Closing our connection with engine
+ When we are done then we can close our connection to free up resources

In [37]:
conn.close()

#### Author
[Tanmay](https://github.com/otanmayo "Tanmay")